

   img{
    
        width:110%;
        height:110%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.5;
       
    
      
   }
  
