
    <navbar></navbar>
    <div class="body"> 
        <div *ngIf="data.length>0; then listdata else nodata"></div>

        <ng-template #listdata>
            
            <ul class="list-group" *ngFor="let Job of data">
                <li class="list-group-item" *ngIf="Job.assign==userid || !(Job.status=='Applied')">
                    
                           <p>Job Name:  {{Job.jobName}}</p>
                           <p>Experience:  {{Job.experience}}</p>
                           <p>Require Age:  {{Job.requiredage}}</p>
                           <p>Salary:  {{Job.salary}}</p>
                           <p>Job type:  {{Job.jobtype}}</p>
                          
                           <button type="submit" *ngIf="!(Job.status=='Applied')" class="btn btn-primary " (click)="applyjob(Job)" > Apply </button> 
                           <button type="submit" *ngIf="(Job.status=='Applied')"   style="margin: 5px; background-color: red" class="btn btn-secondary " > Accepted </button> 
                          
                         
                           
                           
                        </li>
                    </ul>


                
        </ng-template>
        
        <ng-template #nodata>
            <h4>No Data Exists!</h4>
        </ng-template>
    </div>
   

