
    <navbar></navbar>
    <ng-container class="heading">Add Job</ng-container>
    <div class="body">
       <form #AddJobForm="ngForm">
           <div ngModelGroup="registration">
                <div class="form-group">
                    <label for="jobName" class="for">Job name</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.jobName" name="jobName" #jobName="ngModel" type="text" id="jobName" class="form-control">
                    <div class="alert alert-danger" *ngIf="jobName.touched && !jobName.valid">
                        <div *ngIf="jobName.errors.required">job name is a required field.</div>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="experience" class="for">Experience</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.experience" name="experience" #experience="ngModel" type="text" id="experience" class="form-control">
                    <div class="alert alert-danger" *ngIf="experience.touched && !experience.valid">
                        <div *ngIf="experience.errors.required">experience required field.</div>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="requiredage" class="for">Age require</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.requiredage" name="requiredage" #requiredage="ngModel" type="text" id="requiredage" class="form-control">
                    <div class="alert alert-danger" *ngIf="requiredage.touched && !requiredage.valid">
                        <div *ngIf="requiredage.errors.required">age is a required field.</div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="salary" class="for">Salary </label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.salary" name="salary" #salary="ngModel" type="text" id="salary" class="form-control">
                    <div class="alert alert-danger" *ngIf="salary.touched && !salary.valid">
                        <div *ngIf="salary.errors.required">Salary is a required field.</div>
                       
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobtype" class="for">Job type</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.jobtype" name="jobtype" #jobtype="ngModel" type="text" id="jobtype" class="form-control">
                    <div class="alert alert-danger" *ngIf="jobtype.touched && !jobtype.valid">
                        <div *ngIf="jobtype.errors.required">job type is a required field.</div>
                       
                    </div>
                </div>

               
                </div>
               
                
              
                <!-- <p>{{signupForm.value | json}}</p> -->
                
               
                <button type="submit"  class="btn btn-primary"  (click)="AddJob(AddJobForm)" >Add Job</button>
           
       
           
       </form>
    </div>


