<ng-container class="heading">
    User dashboard
</ng-container>
<div class="body">
    <div *ngIf="data.length>0; then listdata else nodata"></div>
    <ng-template #listdata>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a
                 [ngClass] = "{
                    'nav-link' : true,
                    'active' : userType == 'Candidate'
                 }"
                 (click) = "userType = 'Candidate'"
                >Candidate</a>
            </li>
            <li class="nav-item">
                <a
                [ngClass] = "{
                    'nav-link' : true,
                    'active' : userType == 'Company'
                 }" 
                 (click) = "userType = 'Company'"
                >Company</a>
            </li>
        </ul>
        <div [ngSwitch] = "userType">
            <div *ngSwitchCase = "'Candidate'">
                <ul class="list-group" *ngFor="let user of data">
                    <li class="list-group-item" *ngIf="(user.userType ) =='Candidate'">
                       <p>Name:  {{user.name}}</p>
                       <p>Email:  {{user.email}}</p>
                       <p type="button" class="btn btn-primary" (click)="viewDetail(user)">View Profile</p>
                       <p type="button" class="btn btn-primary edit" (click)="editUser(user)">Edit</p>
                    </li>
                </ul>
            </div>
            <div *ngSwitchCase = "'Company'">
                <ul class="list-group" *ngFor="let user of data">
                    <li class="list-group-item" *ngIf="(user.userType )=='Company'">
                       <p>Name:  {{user.name}}</p>
                       <p>Email:  {{user.email}}</p>
                       <p type="button" class="btn btn-primary" (click)="viewDetail(user)">View Profile</p>
                       <p type="button" class="btn btn-primary edit" (click)="editUser(user)">Edit</p>
                    </li>
                </ul>
            </div>
            <div *ngSwitchDefault>All Data</div>
        </div>
    </ng-template>
    <ng-template #nodata>
        <h4>No Data Exists!</h4>
    </ng-template>
</div>

