
    <ng-container class="heading">
       Comments
    </ng-container>
    <div class="body"> 
        <div *ngIf="data.length>0; then listdata else nodata"></div>

        <ng-template #listdata>
            
            <ul class="list-group" *ngFor="let comment of data">
                <!-- <li *ngIf="comment.status=='pending' || comment.status=='accepted'" class="list-group-item"> -->
                <li class="list-group-item">

                    <div>
                       
                       <p> {{comment.email}}</p>
                       <h4>Comment:</h4>
                           <p> {{comment.content}}</p>
                          <button (click)="accept(comment)" class="btn btn-primary">Accept</button>
                          <button (click)="reject(comment)" class="btn btn-primary">Reject</button>
                           </div>
                           
                        </li>
                    </ul>


                
        </ng-template>
        
        <ng-template #nodata>
            <h4>No Data Exists!</h4>
        </ng-template>
    </div>
