<navbar></navbar>
<ul class="list-group">



    <h1>Profile</h1>

    <li
   
   
    class="list-group-item">


<tr>Name: {{profile.name}}</tr>  <tr>Email: {{profile.email}}</tr><td> <tr>User Type: {{profile.userType}}</tr> <tr>password: {{profile.password}}</tr>
</li>

        
        
    
</ul>
