
    <navbar></navbar>
    <div class="body"> 
        <div *ngIf="data.length>0; then listdata else nodata"></div>

        <ng-template #listdata>
            
            <ul class="list-group" *ngFor="let Trip of data">
                <li class="list-group-item">
                    
                           <p>Name:  {{Trip.yourName}}</p>
                           <p>email:  {{Trip.email}}</p>
                           <p>city:  {{Trip.city}}</p>
                           <p>field:  {{Trip.Field}}</p>
                           <p>experience:  {{Trip.experience}}</p>
                           <p>expected salary:  {{Trip.expectedSalary}}</p>
                           <button *ngIf="Trip.status=='interview'" class="btn btn-primary">Congratulations ! Your Interview is Scheduled</button>                         
                           <button *ngIf="Trip.status=='accepted'" class="btn btn-primary">Congratulations ! You have been accepted</button> 
                           <button style="background-color: red" *ngIf="Trip.status=='reject' || Trip.status=='rejected'" class="btn btn-primary">Sorry! You have been rejected</button>                         
                        

                           
                        </li>
                    </ul>


                
        </ng-template>
        
        <ng-template #nodata>
            <h4>No Data Exists!</h4>
        </ng-template>
    </div>
   

