<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/">Recruitment</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCandidate()" routerLinkActive="active current" routerLink="/postjob">Add Information<span class="sr-only"></span></a>
        </li>
         <li class="nav-item active">
          <a class="nav-link" *ngIf="isCandidate()" routerLinkActive="active current" routerLink="/profile">My profile<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCandidate()" routerLinkActive="active current" routerLink="/showaddjob">Company Jobs<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCandidate()" routerLinkActive="active current" routerLink="/showdescription">show description<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCompany()" routerLinkActive="active current" routerLink="/showjob"> employee descriptions <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCompany()" routerLinkActive="active current" routerLink="/addjob"> Add job <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCompany()" routerLinkActive="active current" routerLink="/showinterview"> Interview list <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isCompany()" routerLinkActive="active current" routerLink="/myjobs"> Show my jobs <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isAdmin()" routerLinkActive="active current" routerLink="/deliverydashboard">Job Dashboard <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isAdmin()" routerLinkActive="active current" routerLink="/userdashboard">User Details <span class="sr-only"></span></a>
        </li>
        
        
        <li ngbDropdown class="nav-item dropdown active ">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userName}}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/showorder">My description</a>
           
            <a class="dropdown-item" routerLink="/login"> Logout</a>
          </div>
        </li>
      </ul>
      
    </div>
  </nav>
 