
    <navbar></navbar>
    <ng-container class="heading">Add Job</ng-container>
    <div class="body">
       <form #AddJobForm="ngForm">
           <div ngModelGroup="comment">
                <div class="form-group">
                    <label for="comment" class="for">Apply </label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="comment.content" name="content" #content="ngModel" type="text" id="content" class="form-control">
                    <div class="alert alert-danger" *ngIf="content.touched && !content.valid">
                        <div *ngIf="content.errors.required">description is a required field.</div>
                        
                    </div>
                </div>
</div>
                
               
                <button type="submit"  class="btn btn-primary"  (click)="ApplyJob(AddJobForm)" >Add description</button>
           
       
      
       </form>
       </div>
    


