
    <navbar></navbar>
    <ng-container class="heading">Post Job</ng-container>
    <div class="body">
       <form #postjobform="ngForm">
           <div ngModelGroup="registration">
                <div class="form-group">
                    <label for="yourName" class="for">Your name</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.yourName" name="yourName" #yourName="ngModel" type="text" id="yourName" class="form-control">
                    <div class="alert alert-danger" *ngIf="yourName.touched && !yourName.valid">
                        <div *ngIf="yourName.errors.required">name is a required field.</div>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="for">Your email</label>
                    
                    <input required minlength="3" maxlength="25"  [(ngModel)]="user.email" name="email" #email="ngModel" type="text" id="email" class="form-control">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="yourName.errors.required">name is a required field.</div>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="for">City</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.city" name="city" #city="ngModel" type="text" id="city" class="form-control">
                    <div class="alert alert-danger" *ngIf="city.touched && !city.valid">
                        <div *ngIf="city.errors.required">city is a required field.</div>
                       
                    </div>
                </div>
                <div class="form-group">
                    <label for="Field" class="for">field</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.Field" name="Field" #Field="ngModel" type="text" id="Field" class="form-control">
                    <div class="alert alert-danger" *ngIf="Field.touched && !Field.valid">
                        <div *ngIf="Field.errors.required">field is a required field.</div>
                       
                    </div>
                </div>

                <div class="form-group">
                    <label for="experience" class="for">Experience</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.experience" name="experience" #experience="ngModel" type="text" id="experience" class="form-control">
                    <div class="alert alert-danger" *ngIf="experience.touched && !experience.valid">
                        <div *ngIf="experience.errors.required">Experience is a required field.</div>
                       
                    </div>
                </div>

                <div class="form-group">
                    <label for="expectedSalary" class="for">Expected Salary</label>
                    
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.expectedSalary" name="expectedSalary" #expectedSalary="ngModel" type="text" id="expectedSalary" class="form-control">
                    <div class="alert alert-danger" *ngIf="expectedSalary.touched && !expectedSalary.valid">
                        <div *ngIf="expectedSalary.errors.required">Expecte salary is a required field.</div>
                       
                    </div>
                </div>
                </div>
               
                
              
                <!-- <p>{{signupForm.value | json}}</p> -->
                
               
                <button type="submit"  class="btn btn-primary"  (click)="PostJob(postjobform)" >Add Description</button>
           
       
           
       </form>
    </div>

