     <!-- <body>
       
    
     <div class="header">
        <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
            <h2 class="form-signin-heading">Please sign in</h2>
            {{invalidLogin}}
            <div *ngIf="invalidLogin" class="alert alert-danger"> Invalid username and/or password.</div>
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->

            <!-- <p>Dont have an account? <li class="nav-item active">
                <a class="nav-link" routerLink="/signup">Signup now <span class="sr-only"></span></a>
              </li> </p> -->

         
        <!-- </form>
      </div>
     
    </body> -->
   
    <div class="container full-height">
        <div class="row flex center v-center full-height">
            <div class="col-8 col-sm-4">
                <div class="form-box">
                    <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
                        <fieldset>
                            <legend>Sign in</legend><img id="avatar" class="avatar round" src="assets/img/21404.jpg"><input class="form-control" type="email" id="inputEmail" name="email" ngModel placeholder="username">
                            <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="password"><button class="btn btn-primary btn-block" type="submit">LOGIN </button></fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">SARBZZ RECRUITMENT<span></span></a></h3>
                <p class="company-name">Company Name © 2015 </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p>KARACHI , PAKISTAN</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +92 3170207992</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">sarbz@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>WE PROVIDE JOBS TO CANDIDATES.</p>
                <div class="social-links social-icons"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>