    <navbar></navbar>
    <div class="body"> 
        <div *ngIf="data.length>0; then listdata else nodata"></div>

        <ng-template #listdata>
            
            <ul class="list-group" *ngFor="let Job of data">
                <li *ngIf="Job.status=='interview'" class="list-group-item">
                    
                           <p>Name:  {{Job.yourName}}</p>
                           <p>email:  {{Job.email}}</p>
                           <p>city:  {{Job.city}}</p>
                           <p>Field:  {{Job.Field}}</p>
                           <p>experience:  {{Job.experience}}</p>
                           <p>expected Salary:  {{Job.expectedSalary}}</p>
                           <button (click)="accept(Job)" class="btn btn-primary">Accept</button>
                           <button (click)="reject(Job)" class="btn btn-primary" style="background-color: red">Reject</button>

                        
                           
                        </li>
                    </ul>


                
        </ng-template>
        
        <ng-template #nodata>
            <h4>No Data Exists!</h4>
        </ng-template>
    </div>
   


