/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}

/* Styling for Toastr*/
button{
    padding: 10px;
    margin: 0px;
    background-color: red;
    border-radius: 100px;
    cursor: pointer;
    border: 0px;
}


.btn.btn-primary.edit {
    margin-left: 10px;
}
body{

    padding-top: 80px;
}


 button{

    padding: 10px;
    margin:0px;
    background-color: red;
    border-radius: 100px;
    cursor:pointer;
    border: 0px;

 }

