
    <navbar></navbar>
    <div class="body"> 
        <div *ngIf="data.length>0; then listdata else nodata"></div>

        <ng-template #listdata>
            
            <ul class="list-group" *ngFor="let Job of data">
                <li *ngIf="Job.status=='interview' || Job.status=='pending'" class="list-group-item">
                    
                           <p>Name:  {{Job.yourName}}</p>
                           <p>email:  {{Job.email}}</p>
                           <p>city:  {{Job.city}}</p>
                           <p>Field:  {{Job.Field}}</p>
                           <p>experience:  {{Job.experience}}</p>
                           <p>expected Salary:  {{Job.expectedSalary}}</p>
                           <button type="submit"  class="btn btn-primary " (click)="confirmjob(Job)" > Confirm job</button> 
                           <button *ngIf="!(Job.status=='interview')" type="submit" style="margin: 5px; background-color: red" class="btn btn-secondary " (click)="Reject(Job)" > reject job</button> 
                         
                           
                           
                        </li>
                    </ul>


                
        </ng-template>
        
        <ng-template #nodata>
            <h4>No Data Exists!</h4>
        </ng-template>
    </div>
   

