<ng-container class="heading">job Reject</ng-container>
    <div class="body">
        <form #createForm="ngForm">
            <div ngModelGroup="trip">
                 <div class="form-group">
                    
                 </div>
            </div>
                
    
                
    
          
        </form>
         
            <button class="btn btn-primary" [hidden]="isBooked" type="submit" (click)="RejectJob()">reject job</button>
            
       
    </div>

