<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>SARBZ RECRUITMENT</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <!-- <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html" style="color: rgb(255,255,255);padding: 8px;">HOME</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="about%20us.html"><i class="fa fa-wpexplorer"></i>ABOUT US</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="contact%20us.html"><i class="fa fa-star-o"></i>CV DESIGN</a></li> -->
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" routerLink='/signup' ><i class="fa fa-sign-in"></i>SIGN UP</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink='/login' style="color: rgb(255,255,255);">LOGIN</a></li>
                </ul>
        </div>
</div>
</nav>
    
    <ng-container class="heading">Sign Up</ng-container>
    <div style="margin-left:200px; margin-right:200px;">
    <div class="body">
       <form #signupForm="ngForm">
           <div ngModelGroup="registration">
                <div class="form-group">
                    <label for="firstName" class="for">First Name</label>
                    <!-- <input ngModel name="fName" #fName="ngModel" type="text" id="fName" class="form-control" (change)="onChange(fName)"> -->
                    <input required minlength="3" maxlength="15"  [(ngModel)]="user.name" name="fName" #fName="ngModel" type="text" id="fName" class="form-control">
                    <div class="alert alert-danger" *ngIf="fName.touched && !fName.valid">
                        <div *ngIf="fName.errors.required">First Name is a required field.</div>
                        <div *ngIf="fName.errors.minlength">First Name should be minimum 3 characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="for">User Name (or Email)</label>
                    <input required [(ngModel)]="user.email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="email" #email="ngModel" type="text" id="email" class="form-control">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.required">Email is a required field.</div>
                        <div *ngIf="email.errors.pattern">Invalid email address.</div>
                    </div>
                </div>
                <div *ngIf="!isEditMode; then createuser"></div>
                <ng-template #createuser>
                    <div class="form-group">
                        <label for="password" class="for">Password</label>
                        <input required ngModel name="password" #password="ngModel" type="password" id="password" class="form-control">
                        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                            <div *ngIf="password.errors.required">Password is a required field.</div>
                        </div>
                    </div>
                </ng-template>
                
                
                <div class="form-group">
                    <label for="userType">User Type:</label>
                    <select [(ngModel)]="user.userType" name="userType" id="userType" class="form-control">
                        <!-- <option value="1">Rider</option> -->
                        <option *ngFor="let ut of userType" 
                            value="{{ut.type}}"> {{ut.type}} </option>
                            <!-- <option *ngFor="let ut of userType"
                                [ngValue]="ut">{{ut.type}}</option> -->
                    </select>
                </div>
               
           </div>
           <div *ngIf="!isEditMode; then registeruser else updateuser"></div>
           <ng-template #registeruser> 
                <button type="submit"  class="btn btn-primary"  (click)="signupUser(signupForm)" >Sign Up</button>
           </ng-template>
           <ng-template #updateuser> 
                <button class="btn btn-primary" (click)=updateUser()>Update</button>
           </ng-template>   
           
       </form>
    </div>




    </div>

    <footer>
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">SARBZZ RECRUITMENT<span></span></a></h3>
                    <p class="company-name">Company Name © 2015 </p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p>KARACHI , PAKISTAN</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +92 3170207992</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">sarbz@gmail.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p>WE PROVIDE JOBS TO CANDIDATES.</p>
                    <div class="social-links social-icons"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
